<table id="index_task_table">
  <% tasks = Task.all %>
    <tr>
      <th>#</th>
      <th>TASK</th>
      <th>ACTIONS</th>
     <%#  <th>DESCRIPTION</th>
      <th>DUE DATE</th>
      <th>COMPLETED ON</th>%>
    </tr>
    <tbody>
    <% ordered_tasks = @tasks.order(:due_date) %>
  <% ordered_tasks.each_with_index do |task, i| %>
      <tr>
        <td><%=i + 1%></td>
        <% if task.completion_date.nil? %>
          <td><a href="/tasks/<%= task.id %>"><%= task.item %></td>
        <% else %>
          <td><a href="/tasks/<%= task.id %>" id="done"><%= task.item %></td>
        <% end %>
        <td class="index_actions">
          <%= link_to "Edit", edit_task_path(task.id), id: "changi", class: "hvr-ripple-out" %>
          <%= link_to "Delete", task, method: :delete, data: {confirm: "You sure about that?"}, id: "deleti", class: "hvr-ripple-out" %>
          <%= link_to "Completed! :)", task_complete_path(task), method: :patch, id: "complete", class: "hvr-ripple-out" %>
          <%= link_to "JK - Not Done! :o!", task_incomplete_path(task), method: :patch, id: "incomplete", class: "hvr-ripple-out"%>
        </td>
      </tr>
    <% end %>
    </tbody>
</table>

  <% if tasks.size == 0 %>
    <em> PARTAY! EAT, SLEEP, AND BE MERRY YOU HAVE NO TASKS!!!!</em>
  <% end %>

    <footer>
  <p>These tasks are off the Rails!</p>
</footer>

