<%= form_with model: @task, class:"task_form" do |f| %>
  <p>Ugh Another Task?! Give me the detes and I'll add it in:</p>
  <%= f.label "Task" %>
  <%= f.text_field :item %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label "Due Date:" %>
  <%= f.text_field :completion_date %>

  <%= f.submit "Do it!", class: "task-button" %>
<% end %>
