<% if @task.nil? %>
     <h1> 404 not found</h1>
<% else %>
  <table id="show_task_table">
    <tr>
      <th>#</th>
      <th>TASK</th>
      <th>DESCRIPTION</th>
      <th>DUE DATE</th>
      <th>COMPLETED ON</th>
    </tr>
    <tbody>
      <tr>
        <td><%=@task.id %></td>
        <% if @task.completion_date.nil? %>
          <td><%=@task.item %></td>
        <% else %>
          <td id="done"><%=@task.item %></td>
        <% end %>
        <td><%= @task.description%></td>
        <td><%= @task.due_date%></td>
        <td><%= @task.completion_date%></td>
      </tr>
    </tbody>
  </table>
  <div class="show_actions">
      <%= link_to "Edit This Task", edit_task_path(@task.id), id: "changi", class: "hvr-float" %>
      <%= link_to "Delete This Task", @task, method: :delete, data: {confirm: "Are you sure about that? Select OK to remove task #{@task.item.upcase} ForEVVVeeeR!"}, id: "deleti", class: "hvr-float" %>
      <%= link_to "Completed!", task_complete_path(@task), method: :patch, id: "complete", class: "hvr-float" %>
      <%= link_to "JK - Not complete!", task_incomplete_path(@task), method: :patch, id: "incomplete", class: "hvr-float"%>
  </div>
<% end %>


<!--  <header class="details-headings">-->
<!--    <ul>-->
<!--      <li>#</li>-->
<!--      <li>Task</li>-->
<!--      <li>Description</li>-->
<!--      <li>Due Date</li>-->
<!--      <li>Completed On</li>-->
<!--    </ul>-->
<!--  </header>-->
<!--  <article class="taski">-->
<!--    <p><%#=@task.id %></p>-->
<!--    <p><%#=@task.item %></p>-->
<!--    <p><%#= @task.description%></p>-->
<!--    <p><%#= @task.due_date %></p>-->
<!--    <p><%#= @task.completion_date %></p>-->
<!--  </article>-->
