<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header>
    <h1>Tsk Task</h1>
    <nav>
      <ul>
        <li>
          <%= link_to "Task Master", "/tasks", id: "home-link"%>
        </li>
        <li>
          <%= link_to "Add a task", new_task_path %>
        </li>
      </ul>
    </nav>
  </header>
  <header class="head">
    <h1>TASK MASTER 3000</h1>
    <h2>Do these things:</h2>
  </header>
  </body>
  <main>
    <%= yield %>
  </main>
</html>
